# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/backend/storage/
/backend/openstar-cloud

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local
/@babel
# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

/node_modules
/@babel
/.md
/.specstory